<h2>Course info</h2>
<hr>

<form #courseForm="ngForm">
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Name: </label>
    <div class="col-sm-10">
      <input [(ngModel)]="course.name" #courseName="ngModel" [ngClass]="{'is-invalid': courseName.invalid}" name="name"
        class="form-control" required>
      <div class="invalid-feedback">
        <span>Course name is required</span>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Price: </label>
    <div class="col-sm-10">
      <input type="number" [(ngModel)]="course.price" #coursePrice="ngModel"
        [ngClass]="{'is-invalid': coursePrice.invalid}" name="price" class="form-control" required>
      <div class="invalid-feedback">
        <span>Price name is required</span>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Rating: </label>
    <div class="col-sm-10">
      <input type="number" [(ngModel)]="course.rating" #courseRating="ngModel"
        [ngClass]="{'is-invalid': courseRating.invalid}" name="rating" class="form-control" required>
      <div class="invalid-feedback">
        <span>Rating name is required</span>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Description: </label>
    <div class="col-sm-10">
      <textarea [(ngModel)]="course.description" #courseDescription="ngModel"
        [ngClass]="{'is-invalid': courseDescription.invalid}" name="description" class="form-control" required></textarea>
      <div class="invalid-feedback">
        <span>Description name is required</span>
      </div>
    </div>
  </div>
  <button [disabled]="courseForm.invalid" (click)="save()" class="btn btn-primary mr-2">Save</button>
  <button [routerLink]="['/courses']" class="btn btn-secondary">Back</button>
</form>